body {
    background-color: #ffe;
}

.textbox {
    margin: auto;
    width: 30%;
}

.button {
    margin: auto;
    width: 95px;
    height: 30px;
    line-height: 27px;
    display: inline;
}

.buttons {
    margin: auto;
    width: 20%;
}
