body {
    background-color: #fff;
}

.searchbox {
    margin-left: -45%;
    height: 20px;
    width: 521px;
    line-height: 2em;
}

.searcharea {
    margin: auto;
    width: 20%;
    padding-top: 30px;
}

.button {
    margin: auto;
    width: 94px;
    height: 29px;
    display: inline;
    border-radius: 1px;
    text-align: center;
}

#lucky {
    width: 114px;
}

.buttons {
    margin: auto;
    width: 15%;
    padding-top: 10px;
}

.logo {
    height: 95px;
    width: 269px;
    padding-top: 112px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.footer {
    height: 40px;
    background-color: #f2f2f2;
    border-top: solid 1px #e4e4e4;
    float: bottom;
    color: #777;
    bottom: 100%;
}

.footer_text_left {
    display: inline;
    float: left;
}

.footer_text_right {
    display: inline;
    float: right;
}

.footer_item {
    padding-left: 27px;
    text-decoration: none;
    top: -50%;
}

a:visited {
    color: #777;
}
